language: go
dist: xenial
install:
    - curl -O -L https://github.com/golang/dep/releases/download/v0.5.0/dep-linux-amd64 && chmod +x dep-linux-amd64 && mv dep-linux-amd64 "$GOPATH/bin/dep"
    - "$GOPATH/bin/dep" ensure
script:
    - go test -v -cover ./...
    - for os in linux darwin windows openbsd; do echo "building for $os" && env GOOS="$os" go build -o /dev/null; done
    - ./build-releases.sh
